# Spark and AWS
pyspark==3.5.5
boto3==1.37.31

# Core data processing
pandas==2.0.3
numpy==1.24.4
python-dateutil==2.9.0
pytz==2025.2
tzdata==2025.2

# Visualization
plotly==6.0.1
kaleido==0.2.1
plotly-express==0.4.1

# File formats
pyarrow==10.0.0

# Utilities
packaging==25.0
